{% extends "seaver_app/starter.html" %}
{% load static %}

{% block title %}
Seaver | Dashboard
{% endblock %}

{% block header_title %}
Workspaces
{% endblock %}
{% block header_desc %}
Control Panel
{% endblock %}

{% block sidebarmenu %}
    <li class="treeview active">
        <a href="#"><i class="fa fa-dashboard"></i> <span>Workspaces</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu active" id="workspaces_lateral_menu">
            <li v-for="workspace in workspaces_list">
                <a href="#" v-on:click="redirect_to_workspace_home(workspace.workspace_name)">
                [[ workspace.workspace_name ]]
                </a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- MAIN -->

    <div class="row" id="row_workspaces_box">
        <div class="col-md-4" v-for="(workspace_box, index) in workspaces_box_list">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <i class="fa fa-fw fa-folder"></i>
                    <h3 class="box-title">[[ workspace_box.workspace_name ]]</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-primary btn-sm"
                                v-on:click="ask_delete_workspace_confirm(workspace_box.workspace_name, index, '{% url 'delete_workspace' 'workspace_name' %}')">
                            <i class="glyphicon glyphicon-trash"></i></button>
                        <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-10">
                            <p v-for="work_file in workspace_box.workspace_files"><i class="fa fa-fw fa-file-text"></i>
                                [[ work_file ]]
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-16">
                            <div class="text-center">
                                <a href="#" v-on:click="redirect_to_workspace_home(workspace_box.workspace_name)"
                                   class="small-box-footer">
                                    Go to workspace <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div><!-- /.box-body-->
            </div><!-- /.box-->
        </div><!-- /.col-->
    </div>

    <!-- MODAL -->

    <!-- Create workspace modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create new workspace</h4>
                </div>
                <div class="modal-body">
                    <!-- form start -->
                    <form role="form" id="create_workspace_form" onsubmit="return false"
                          data-validate-url="{% url 'create_workspace' %}">
                        <div id="create_workspace_form_errors"></div>
                        <div class="box-body">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="workspace_name" id="id_workspace_name"
                                       placeholder="Enter ..."/>
                            </div>
                        </div><!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" onclick="create_workspace()">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete workspace modal -->
    <div class="modal fade" id="delete_workspace_modal" tabindex="-1" role="dialog"
         aria-labelledby="delete_workspace_modal_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delete_workspace_modal_label">Delete workspace</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the workspace ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="confirm_delete_workspace">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block append %}
<script src="{% static "__seaver_app/js/workspace_show.js" %}"></script>

    <script>
        window.onload = function () {

            v_workspaces = new Vue({
                el: '#workspaces_lateral_menu',
                data: {
                    workspaces_list: {{ workspaces|safe }},
                    url_structure: "{% url 'workspace' 'workspace_name' %}"
                },
                methods: {
                    add_workspace: function (workspace_data) {
                        this.workspaces_list.unshift(workspace_data);
                    },
                    delete_workspace: function (index) {
                        this.workspaces_list.splice(index, 1);
                    },
                    redirect_to_workspace_home: function (workspace_data) {
                        var url_structure = this.url_structure;
                        window.location = url_structure.replace("workspace_name", workspace_data);
                        return false;
                    }
                }
            });

            v_workspaces_box = new Vue({
                el: '#row_workspaces_box',
                data: {
                    workspaces_box_list: {{ workspaces|safe }},
                    url_structure: "{% url 'workspace' 'workspace_name' %}"
                },
                methods: {
                    add_workspace: function (workspace_data) {
                        this.workspaces_box_list.unshift(workspace_data);
                    },
                    delete_workspace: function (index) {
                        this.workspaces_box_list.splice(index, 1);
                    },
                    ask_delete_workspace_confirm: function (workspace_name, index, url) {
                        $('#delete_workspace_modal').modal('toggle');
                        $('#confirm_delete_workspace').on("click", function () {
                            delete_workspace(workspace_name, index, url);
                        });
                    },
                    redirect_to_workspace_home: function (workspace_data) {
                        var url_structure = this.url_structure;
                        window.location = url_structure.replace("workspace_name", workspace_data);
                        return false;
                    }
                }
            });
        }

    </script>
{% endblock %}