{% extends 'seaver_app/base.html' %}
{% comment %} Workspace page. {% endcomment %}
{% block head %}
<title>Seaver | Workspace</title>
    {% block script %}
        <script>
           Vue.options.delimiters = ['[[', ']]'];

            var app;
            var fv;
            window.onload = function () {
            $.get("{% url 'file-list' %}",
            function (data, status) {
                    var files_data = data.results;
                    fv = new Vue({
                        el: '#files',
                        data: {
                            files: files_data
                        }
                    })
                });
            }
        </script>
    {% endblock %}
{% endblock %}
{% block body %}
  <h2>Workspace {{ wname }}</h2>
    <form enctype="multipart/form-data" action="{{ form_action }}" method="post">
    {% csrf_token %}
    {{ file_upload_form }}
    <input type="submit" value="submit">
    </form>
    <div id="files">
        <h3>files</h3>
        <div v-for="file in files">
            <!-- {% templatetag openvariable %} file.name {% templatetag closevariable %} -->
            [[ file.name ]]
        </div>
    </div>
{% endblock %}