{% extends "base.html" %}
{% comment %} Login page. {% endcomment %}
{% block head %}
<title>Seaver | Login</title>
{% endblock %}
{% block body %}
<header>
    <h3>Login Page</h3>
</header>
<section>
    <form method="post" action=".">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </p>
        <p>
            <label for="id_password">Password:</label>
            {{ form.password }}
        </p>
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% else %}
        <input type="hidden" name="next" value="{% url 'workspace' %}"/>
        {% endif %}
        <input type="submit" value="Login"/>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
</section>
{% endblock %}